<h1> Descriptions in my Task model </h1>




<ul>
    <% @tasks.each do |task| %>
        <% if task.description != nil %>
            <li><%= link_to task.description , task%></li>
        <%end%>
    <%end%>
</ul>
